<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Убегающая кнопка</title>
    <style>
        .moveButton{
        margin-top: {moveButton.getY()}%;
        margin-left: {moveButton.getX()}%;
        padding: 5px;
        }
        .showButton{
        padding: 5px;
        }
    </style>
</head>
<body>
    <form action="escapeButton/Information" method="post">
        <button class="showButton" type="submit">ПОКАЗАТЬ</button>
    </form>
    <form action="escapeButton" method="post">
        <button class="moveButton" type="submit">ПЕРЕМЕСТИТЬ</button>
    </form>
</body>
</html>